<!DOCTYPE html>
<html lang="en-US">
  <head>
    
    <meta charset="utf-8" />
    <title>Suburb Finder</title>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    {% load static %}
    <script type="module" src="{% static 'suburb_finder/js/index.js' %}"></script>
    {% load static %}
    <script type="module" src="{% static 'suburb_finder/js/address_add.js' %}"></script>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'suburb_finder/styles/style.css' %}"/>



  </head>
  <body>

    <form action="{% url 'suburb_finder:index' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <legend><h1>Suburb Finder</h1></legend>
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
          
          <!-- origin address input -->
          <label for="origin_ad">Origin address</label>
          <input type="text" name="origin_ad" id="origin_ad" value="">
          <br>
          <br>
          <!-- suburb search input -->
          <label for="suburb">Suburb</label>
          <input type="text" name="suburb" id="suburb" value="Enter a suburb">
          <br>
          <br>
          <!-- slider input -->
          <label for="myRange">Radius (km):</label>
          <input type="range" name="radius" min="1" max="100" value="10" class="slider" id="myRange">
          <br>

          
              

      </fieldset>
      <!-- <input type="submit" value="Search"> -->
    </form>


    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises
      with https://www.npmjs.com/package/@googlemaps/js-api-loader.
      -->

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&v=beta&region=AU&libraries=places"
      async defer>
    </script>


  </body>
</html>
