{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/admin/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add New Admin
            </a>

            <div style="float:right; width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" class="form-control" name="q" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    </div><!-- /input-group -->

                </form>

            </div>

        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Admin List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Reset Password</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.username }}</td>
                        <td>*********</td>
                        <td>
                            <a href="/admin/{{ obj.id }}/reset/">Reset Password</a>
                        </td>
                        <td>
                            <a href="/admin/{{ obj.id }}/edit" class="btn btn-primary btn-xs">Edit</a>
                            <a href="/admin/{{ obj.id }}/delete" class="btn btn-danger btn-xs">Delete</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>


    </div>
{% endblock %}