{% extends "layout.html" %}
{% load static %}
{% block content %}


    <script>


        function initMap(data) {
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: -37, lng: 145}
            });
            // const markers = data?.map((i) => {
            //    const marker = new google.maps.Marker({
            //        position: {lat: -37, lng: 145},
            //        map: map,
            //    })
            //});
            const marker = new google.maps.Marker({
                position: {lat: {{ location.0.0 }}, lng: {{ location.0.1 }}},
                map: map,
            });


        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <div class="container">
        <div class="pageholder">
            <div class="titleholder">
                <div class="title"><i class="fas fa-compass mr-2"></i> Google Maps #4: Markers on a map</div>
                <a href="#" class="title2 mr-4"><i class="fas fa-home mr-2"></i> Back to home </a>
            </div>

            <div class="linkholder">
                <div class="mapholder">
                    <div id="map" style="height: 800px;width: 100%;"></div>

                </div>
            </div>
        </div>

    </div>



    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI1kTRWH8WwxKJ7Hwm1TrGw58MCinD_6U&callback=initMap"
            defer
    ></script>
{% endblock %}
