{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/pretty/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add New Phone No.
            </a>

            <div style="float:right; width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" class="form-control" name="q" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    </div><!-- /input-group -->

                </form>

            </div>

        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Phone List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Phone</th>
                    <th>Price</th>
                    <th>Level</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.mobile }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.get_level_display }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>
                            <a href="/pretty/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                            <a href="/pretty/{{ obj.id }}/delete/" class="btn btn-danger btn-xs">Delete</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>
{% endblock %}