{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Create New Task</div>
            <div class="panel-body">
                <form id="formAdd">
                    <div class="clearfix">
                        {#                    {% csrf_token %}#}
                        {% for field in form %}

                            <div class="col-xs-6">
                                <div class="form-group" style="position: relative">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    <span class="error-msg"
                                          style="color: red; position: absolute">{{ field.errors.0 }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12">
                        <button id="btnAdd" type="button" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Task List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Level</th>
                    <th>Title</th>
                    <th>Detail</th>
                    <th>User</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.get_level_display }}</td>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.detail }}</td>
                        <td>{{ obj.user.username }}</td>

                        <td>
                            <a href="/user/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                            <a href="/user/{{ obj.id }}/delete/" class="btn btn-danger btn-xs">Delete</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
        <ul class = "pagination">
            {{ page_string }}

        </ul>

        <hr>
        <div style="height:1000px "></div>
        <h1>Ajax Example</h1>
        <h3>Example 1</h3>
        {#        <input type="button" class="btn btn-primary" value="Click" onclick="clickMe();"/>#}
        <input type="button" id="btn1" class="btn btn-primary" value="Click"/>

        <h3>Example 2</h3>
        <input type="text" id="txtUser" placeholder="Name">
        <input type="text" id="txtAge" placeholder="Age">
        <input type="button" id="btn2" class="btn btn-primary" value="Click"/>

        <h3>Example 3</h3>
        <form action="" id="form3">
            <input type="text" name="user" placeholder="Name">
            <input type="text" name="age" placeholder="Age">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="more" placeholder="More">
            <input type="button" id="btn3" class="btn btn-primary" value="Click"/>
        </form>

    </div>
{% endblock %}

{% block js %}
    {#    <script type="text/javascript">#}
    {#        function clickMe() {#}
    {#console.log("Clicked button");#}
    {#            $.ajax({#}
    {#                url: "/task/ajax/",#}
    {#                type: "post",#}
    {#                data: {#}
    {#                    n1: 123,#}
    {#                    n2: 456#}
    {#                },#}
    {#                success:function (res) {#}
    {#                    console.log(res);#}
    {#                }#}
    {#            })#}
    {#        }#}
    {#    </script>#}
    <script type="text/javascript">
        $(function () {
            bindBtn1Event();
            bindBtn2Event();
            bindBtn3Event();
            bindBtnAddEvent();
            // after page get whole framework, code run automatically
        })

        function bindBtn1Event() {
            $("#btn1").click(function () {
                $.ajax({
                    url: "/task/ajax/",
                    type: "post",
                    data: {
                        n1: 123,
                        n2: 456
                    },
                    {#change the data type to json ,so can be used#}
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res);
                        console.log(res.status);
                        console.log(res.data)
                    }
                })
            })
        }

        function bindBtn2Event() {
            $("#btn2").click(function () {
                $.ajax({
                    url: "/task/ajax/",
                    type: "post",
                    data: {
                        name: $("#txtUser").val(),
                        age: $("#txtAge").val()
                    },
                    {#change the data type to json ,so can be used#}
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res);
                        console.log(res.status);
                        console.log(res.data)
                    }
                })
            })
        }

        function bindBtn3Event() {
            $("#btn3").click(function () {
                $.ajax({
                    url: "/task/ajax/",
                    type: "post",
                    data: $("#form3").serialize(),
                    {#change the data type to json ,so can be used#}
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res);
                        console.log(res.status);
                        console.log(res.data)
                    }
                })
            })
        }

        function bindBtnAddEvent() {
            $("#btnAdd").click(function () {
                {#clean error msg#}
                $("#error-msg").empty();
                $.ajax({
                    url: "/task/add/",
                    type: "post",
                    data: $("#formAdd").serialize(),
                    {#change the data type to json ,so can be used#}
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("Add successfully");
                            // js refresh
                            location.reload();
                        } else {

                            $.each(res.error, function (name, data) {
                                $("#id_" + name).next().text(data[0])
                            })
                        }
                    }
                })
            })
        }

    </script>
{% endblock %}