{% extends "layout.html" %}
{% load static %}
{% block content %}




    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Selected User
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>UID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                    <th width=15%>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset_user %}
                    <tr>
                        <td>{{ obj.uid }}</td>
                        <td>{{ obj.first_name }} {{ obj.first_name }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.gender }}</td>
                        <td>{{ obj.phone_number }}</td>
                        <td>
                            <a href="/user/{{ obj.uid }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Selected Address
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>AID</th>
                    <th>Address</th>
                    <th>Suburb</th>
                    <th>Postcode</th>
                    <th width=15%>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset_address %}
                    <tr>
                        <td>{{ obj.aid }}</td>
                        <td>{{ obj.address }}</td>
                        <td>{{ obj.suburb }}</td>
                        <td>{{ obj.postcode }}</td>
                        <td>
                            <a href="/address/{{ obj.aid }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Piano</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate name="add_user">
                    {% csrf_token %}
                    {% for field in form_add %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color:red;">{{ field.errors.0 }}</span>

                        </div>
                    {% endfor %}
                    <input name="check" value="add" type="hidden">

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>

                            Search Existing Piano
                        </h3>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <form method="post" novalidate name="search_user">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form_search %}
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            </div>

                        {% endfor %}
                        <input name="check" value="search" type="hidden">

                    </div>
                    <div class="row">
                        <div class="col-md-1 col-md-offset-11">
                            <button type="submit" class="btn btn-primary">Search</button>

                        </div>
                    </div>

                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Piano List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>PID</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Sub Model</th>
                    <th>Colour</th>
                    <th>Type</th>
                    <th width=15%>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset_piano %}
                    <tr>
                        <td>{{ obj.pid }}</td>
                        <td>{{ obj.brand }}</td>
                        <td>{{ obj.model }}</td>
                        <td>{{ obj.sub_model }}</td>
                        <td>{{ obj.colour }}</td>
                        <td>{{ obj.type }}</td>
                        <td>
                            <a href="/select/{{ uid }}/{{ aid }}/{{ obj.pid }}/cpa/" class="btn btn-success btn-xs">Select</a>
                            <a href="/piano/{{ obj.pid }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>
    </div>




{% endblock %}