{% extends "layout.html" %}
{% load static %}
{% block content %}




    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Selected User
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>UID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                    <th width=15%>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset_user %}
                    <tr>
                        <td>{{ obj.uid }}</td>
                        <td>{{ obj.first_name }} {{ obj.first_name }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.gender }}</td>
                        <td>{{ obj.phone_number }}</td>
                        <td>
                            <a href="/user/{{ obj.uid }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Address</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate name="add_user">
                    {% csrf_token %}
                    {% for field in form_add %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color:red;">{{ field.errors.0 }}</span>

                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Address List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>AID</th>
                    <th>Address</th>
                    <th>Suburb</th>
                    <th>Postcode</th>
                    <th width=15%>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.aid_id }}</td>
                        <td>{{ obj.aid.address }}</td>
                        <td>{{ obj.aid.suburb }}</td>
                        <td>{{ obj.aid.postcode }}</td>
                        <td>
                            <a href="/select/{{ uid }}/{{ obj.aid_id }}/piano/"
                               class="btn btn-success btn-xs">Select</a>
                            <a href="/address/{{ obj.aid_id }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>
    </div>




{% endblock %}
{% block js %}
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW2OlR6mwJKIHg4xcvkV4eVFexO6UL4KM&callback=initAutocomplete&libraries=places&v=weekly"
            defer
    ></script>

    <script>
        /**
         * @license
         * Copyright 2019 Google LLC. All Rights Reserved.
         * SPDX-License-Identifier: Apache-2.0
         */
// This sample uses the Places Autocomplete widget to:
// 1. Help the user select a place
// 2. Retrieve the address components associated with that place
// 3. Populate the form fields with those address components.
// This sample requires the Places library, Maps JavaScript API.
// Include the libraries=places parameter when you first load the API.
// For example: <script
// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        let autocomplete;
        let address1Field;
        let address2Field;
        let postalField;

        function initAutocomplete() {
            address1Field = document.querySelector("#id_address");
            postalField = document.querySelector("#id_postcode");
            // Create the autocomplete object, restricting the search predictions to
            // addresses in mel rectangle range.
            const sw = {lat: -38.594825, lng: 144.304146};
            const ne = {lat: -37.249765, lng: 145.842310}
            const cornerBounds = new google.maps.LatLngBounds(sw, ne);
            autocomplete = new google.maps.places.Autocomplete(
                address1Field,
                {
                    fields: ["address_components", "geometry"],
                    types: ["address"],
                });
            autocomplete.setBounds(cornerBounds)
            address1Field.focus();
            // When the user selects an address from the drop-down, populate the
            // address fields in the form.
            autocomplete.addListener("place_changed", fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            const place = autocomplete.getPlace();
            let address1 = "";
            let unit = "";
            document.getElementById('id_lat').value = place.geometry.location.lat();
            document.getElementById('id_long').value = place.geometry.location.lng();
            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            // place.address_components are google.maps.GeocoderAddressComponent objects
            // which are documented at http://goo.gle/3l5i5Mr
            for (const component of place.address_components) {
                // @ts-ignore remove once typings fixed
                const componentType = component.types[0];

                switch (componentType) {

                    case "street_number": {
                        address1 = `${component.long_name} ${address1}`;
                        break;
                    }
                    case "subpremise":
                        unit = component.long_name
                        break;

                    case "route": {
                        address1 += component.long_name;
                        break;
                    }

                    case "postal_code": {
                        document.querySelector("#id_postcode").value = component.long_name;

                        break;
                    }

                    case "locality":
                        document.querySelector("#id_suburb").value = component.long_name;
                        break;


                }
            }

            if (unit == "") {
                address1Field.value = address1;
            } else {
                address1Field.value = `${unit.toString()}/${address1}`;
            }

            // After filling the form with address components from the Autocomplete
            // prediction, set cursor focus on the second address line to encourage
            // entry of subpremise information such as apartment, unit, or floor number.
            address2Field.focus();
        }

        window.initAutocomplete = initAutocomplete;

    </script>

{% endblock %}