{% extends "layout.html" %}
{% load static %}
{% block content %}




    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>

                            {{ title }}
                        </h3>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-md-offset-11">
                            <button type="submit" class="btn btn-primary">Search</button>

                        </div>
                    </div>

                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                CPA List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>CID</th>
                    <th>UID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>AID</th>
                    <th>Address</th>
                    <th>PID</th>
                    <th>Piano</th>
                    <th>SN</th>
                    <th>Sold Date</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset_cpa %}
                    <tr>
                        <td>{{ obj.cid }}</td>
                        <td>{{ obj.uid.uid }}</td>
                        <td>{{ obj.uid.first_name }} {{ obj.uid.last_name }}</td>
                        <td>{{ obj.uid.phone_number }}</td>
                        <td>{{ obj.uid.email }}</td>
                        <td>{{ obj.aid_id }}</td>
                        <td>{{ obj.aid.address }}, {{ obj.aid.suburb }}, {{ obj.aid.postcode }}</td>
                        <td>{{ obj.pid_id }}</td>
                        <td>{{ obj.pid.brand }}, {{ obj.pid.model }}</td>
                        <td>{{ obj.sn }}</td>
                        <td>{{ obj.sold_date | date:"d b Y" }}</td>

                        <td>
                            <a href="/tuning/{{ obj.cid }}/book/" class="btn btn-success btn-xs">Booking</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            Tuning List
                        </h3>
                    </div>
                </div>


            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>TID</th>
                    <th>MID</th>
                    <th>CID</th>
                    <th>Customer Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Piano</th>
                    <th>SN</th>
                    <th>Tuning Date</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset_tuning %}
                    <tr>
                        <td>{{ obj.tid }}</td>
                        <td>{{ obj.mid }}</td>
                        <td>{{ obj.cid_id }}</td>
                        <td>{{ obj.cid.uid.first_name }} {{ obj.cid.uid.last_name }}</td>
                        <td>{{ obj.cid.uid.phone_number }}</td>
                        <td>{{ obj.cid.aid.address }}, {{ obj.cid.aid.suburb }}, {{ obj.cid.aid.postcode }}</td>
                        <td>{{ obj.cid.pid.brand }}, {{ obj.cid.pid.model }}</td>
                        <td>{{ obj.cid.sn }}</td>
                        <td>{{ obj.tuning_date | date:"d b Y" }}</td>
                        <td>
                            <a href="/tuning/{{ obj.tid }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                            <input uid="{{ obj.tid }}" type="button" class="btn btn-danger btn-xs btn-delete"
                                   value="Delete">
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            Map Visualization</h3>
                    </div>
                </div>
            </div>

            <div class="pageholder">

                <div class="linkholder">
                    <div class="mapholder">
                        <div id="map" style="height: 450px;width: 100%;"></div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4>Delete Alert!!</h4>
                <p>Please double check this action!</p>
                <p style="text-align: right;">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </p>
            </div>
        </div>
    </div>



{% endblock %}
{% block js %}
    <script>


        function initMap(data) {
            var bounds = new google.maps.LatLngBounds(
                new google.maps.LatLng({{ nw_latitude }}, {{ nw_longitude }}),
                new google.maps.LatLng({{ se_latitude }}, {{ se_longitude }})
            );
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: bounds.getCenter()
            });
            map.fitBounds(bounds);

            const lat_list = {{ lat_list }};
            const long_list = {{ long_list }};
            const info_list = {{ info_list|safe }};
            console.log(lat_list);
            console.log(long_list);
            console.log(info_list);

            for (let i = 0; i < lat_list.length; i++) {
                const marker = new google.maps.Marker({
                    position: {lat: lat_list[i], lng: long_list[i]},
                    map: map,
                    title: info_list[i]
                });
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI1kTRWH8WwxKJ7Hwm1TrGw58MCinD_6U&callback=initMap"
            defer
    ></script>

    <script type="text/javascript">
        // global variable
        var DELETE_ID;

        $(function () {
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
        })

        function bindBtnDeleteEvent() {
            $(".btn-delete").click(function () {
                {#alert("click delete!")#}
                $("#deleteModal").modal("show");
                // get the global variable, $(this) means what you click
                DELETE_ID = $(this).attr("uid");
                // console.log(DELETE_ID);
            });
        }

        function bindBtnConfirmDeleteEvent() {
            $("#btnConfirmDelete").click(function () {
                // click confirm button, send DELETE_ID to backend
                $.ajax({
                    url: "/tuning/delete", // /order/123/delete/
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        uid: DELETE_ID
                    },
                    success: function (res) {
                        if (res.status) {
                            // alert("Successful Delete!")
                            // after delete hide the modal, reload the page
                            $("#deleteModal").modal("hide");

                            // js way to delete, save the resource
                            // $("tr[uid='" + DELETE_ID + "']").remove();
                            // reset DELETE_ID
                            // DELETE_ID = 0;
                            location.reload();

                        } else {
                            // delete fail
                            alert(res.error);
                        }
                    }
                })
            })
        }

    </script>

{% endblock %}
