{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/tuning/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add New Tuning Information
            </a>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                    Bulk Uploads
                </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" action="/tuning/multi/">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="exc">

                        </div>
                        <input type="submit" value="Upload" class="btn btn-info btn-xs">
                    </form>
                </div>

            </div>

            <div style="float:right; width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" class="form-control" name="q" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    </div><!-- /input-group -->

                </form>

            </div>

        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

                Tuning List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>TID</th>
                    <th>MID</th>
                    <th>CID</th>
                    <th>Address</th>
                    <th>Piano</th>
                    <th>Tuning Date</th>
                    <th>Piano Condition</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.tid }}</td>
                        <td>{{ obj.mid }}</td>
                        <td>{{ obj.cid_id }}</td>
                        <td>{{ obj.cid.aid.address }}, {{ obj.cid.aid.postcode }}</td>
                        <td>{{ obj.cid.pid.brand }}, {{ obj.cid.pid.model }}</td>
                        <td>{{ obj.tuning_date | date:"d b Y"  }}</td>
                        <td>{{ obj.piano_condition }}</td>
                        <td>
                            <a href="/tuning/{{ obj.cid }}/edit/" class="btn btn-primary btn-xs">Edit</a>
                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>

        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>
{% endblock %}