{% extends "base.html" %} 
{% block sidebar %}{% endblock %}
{% block content %}

<!-- search address template -->
    <main role="main" class="container-fluid">
    <div class="container-fluid position-static">
        <h5 class="text p-0">Search address</h5>
        <form method = "GET" action =".">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" type="searchaddress" id="#" name="#" placeholder="Search customer address here...">
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <!-- number input for the distance -->
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" type="searchaddress" id="#" name="#" placeholder="Distance threshold">
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search"></i>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="col" style="width: 90vw; height: 50vh;">
                <!-- Add your map here -->
            </div>
        </div>
    </div>
    </main>

{% endblock %}