{% extends "base.html" %}

{% load static %}

{% block css %}

{% endblock %}



<!-- load in to main content -->
{% block content %}

<div id="map_container">
    <div id="map">

    </div>
    {% include "index/components/setting.html" %}
    {% include "index/components/advanced_settings.html" %}
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'index.js' %}"></script>

<script type="text/javascript" src="{% static 'map.js' %}"></script>
<script type="text/javascript">
    initMapConfig()
    var map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -37.8362108, lng: 144.9948872 },
        zoom: 8,
        mapId: "caef4af3387e9937", // <YOUR_MAP_ID_HERE>,
        disableDefaultUI: true,
    });

    var map_viz = new MapViz(map)
    function preventDefault(e) {
        e.preventDefault();
    }
</script>


{% endblock %}